.storyContainer {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

@media (orientation: landscape) {
  .storyContainer {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .storyContainer {
    flex-direction: column;
  }
}

.contextContainer {
  display: flex;
}

@media (orientation: landscape) {
  .contextContainer {
    width: 320px;
  }
}

@media (orientation: portrait) {
  .contextContainer {
    height: 160px;
  }
}

.borough {
  color: grey;
}

.borough.active {
  color: purple;
}

.btn {
  border-style: solid;
  border-width: 2px;
}

.btn:focus {
  border-width: 5px;
}

.btn.dormant {
  color: black;
  border-color: black;
  background-color: white;
}

.btn.active {
  color: white;
  border-color: purple;
  background-color: purple;
}

.mapContainer {
  display: flex;
}

@media (orientation: landscape) {
  .mapContainer {
    flex: 1;
  }
}

@media (orientation: portrait) {
  .mapContainer {
    flex: 1;
  }
}

